.divider {
  border-color: gray;
  margin-bottom: 15px;
}

.dialog-actions {
  display: flex;
  justify-content: end;
}

// button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: auto;
//   height: 2.2em;
//   margin-left: 5px;
//   font-size: 12px;
// }