.form-container {
  padding: 16px;
}

.full-width {
  width: 100%;
  margin-top: 5px;
}

.forgot-password {
  text-align: right;
  margin-top: -15px;
  padding-bottom: 20px;
  font-size: 12px;
  // z-index: 10;
  position: relative;
}

mat-form-field {
  font-size: 12x;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: rgb(0, 0, 0);
// }