<div class="container light">
    <div class="row content">
        <div class="col">
            <h1>The Realtor Assistant</h1>
            <div class="row button-container">
                <button mat-button (click)="onRegistrationClick()">Register</button>
                <button mat-flat-button extended (click)="onLoginClick()">Login</button>
            </div>
        </div>
    </div>
    <div
        style="width: 250px; display: flex; justify-content: flex-start; align-items: center; padding-left: 20px; margin-bottom:20px;">
        <img mat-card-image src="assets/mockingbird-logo.png" width="75px" style=" cursor: pointer;" alt="Company Logo"
            (click)="onLogoClick()" />
        <div class="copyright">Copyright &copy; 2025 Mockingbird<br>Software, LLC. All rights reserved.
        </div>
    </div>
</div>