<!-- <mat-toolbar color="primary">
    <span class="toolbar-title">Reset Password</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="resetForm" (ngSubmit)="onReset()" class="form-container">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your email" />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            Please enter a valid email address.
        </mat-error>
    </mat-form-field>

    <div class="button-row">
        <button mat-button type="button" (click)="onClose()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="resetForm.invalid">
            Reset
        </button>
    </div>
</form> -->
<app-dialog-title title="Reset your password"></app-dialog-title>
<div class="text">Please enter your email address and will send you a link to reset your
    password.
</div>
<form [formGroup]="form" class="form-container">
    <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required placeholder="ex. abc@123.com" />
        <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            Please enter a valid email.
        </mat-error>
    </mat-form-field>
    <app-dialog-actions actionLabel="Reset" (cancel)="onCancelClick()" (action)="onResetClick()"></app-dialog-actions>
</form>